<h1>Eat Da-Burger!!!</h1>

<p>Burger list</p>

<ul>
  {{#each burgers}}
     {{#unless devoured}}
    <li>
      <p><span class="label">Id</span> {{this.id}}</p>
      <p><span class="label">Burger Name</span> {{this.burger_name}}</p>
      <p><span class="label"><button data-id={{this.id}} class="devoured">Devour it!</button></span> </p>
    </li>
    {{/unless}}
  {{/each}}

</ul>

<hr>
<ul>
  {{#each burgers}}
     {{#if devoured}}
    <li>
      <p><span class="label">Id</span> {{this.id}}</p>
      <p><span class="label">Burger Name</span> {{this.burger_name}}</p>
      {{!-- <p><span class="label"></span></p> --}}
    </li>
    {{/if}}
  {{/each}}

</ul>


<h2>Add a Burger</h2>

<form class="create-form">
  <div class="form-group">
    <label for="burger_name"> Burger name</label>
    <input type="text" id="burger_name" name="burger">
  </div>

  <button type="submit">Add Burger</button>
</form>