{{!-- <div class="jumbotron jumbotron-fluid" id="flame2"> --}}
  <div class="container" id="flame">
    {{!-- <h1 class="display-4">Eat-Da-Burger!</h1> --}}
    <img id="burg" alt="burger logo" src="/assets/img/burgerlogo.png">
    <h1>Eat-Da-Burger!</h1>
    {{!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> --}}
  </div>
{{!-- </div> --}}


<p>Burger list</p>

<ul>
  {{#each burgers}}
     {{#unless devoured}}
    <li>
      <p><span class="label">Id</span> {{this.id}}</p>
      <p><span class="label">Burger Name</span> {{this.burger_name}}</p>
      <p><span class="label"><button data-id={{this.id}} class="devoured">Devour it!</button></span> </p>
    </li>
    {{/unless}}
  {{/each}}

</ul>

<hr>
<ul>
  {{#each burgers}}
     {{#if devoured}}
    <li>
      <p><span class="label">Id</span> {{this.id}}</p>
      <p><span class="label">Burger Name</span> {{this.burger_name}}</p>
      {{!-- <p><span class="label"></span></p> --}}
    </li>
    {{/if}}
  {{/each}}

</ul>


<h2>Add a Burger</h2>

<form class="create-form">
  <div class="form-group">
    <label for="burger_name"> Burger name</label>
    <input type="text" id="burger_name" name="burger">
  </div>

  <button type="submit">Add Burger</button>
</form>